<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,95},{566,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{566,81}}</string>
                <key>sourceSize</key>
                <string>{566,81}</string>
            </dict>
            <key>blg10.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,649},{554,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{554,66}}</string>
                <key>sourceSize</key>
                <string>{554,66}</string>
            </dict>
            <key>blg11.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,568},{554,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{554,79}}</string>
                <key>sourceSize</key>
                <string>{554,79}</string>
            </dict>
            <key>blg12.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,182},{562,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{562,79}}</string>
                <key>sourceSize</key>
                <string>{562,79}</string>
            </dict>
            <key>blg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{568,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,91}}</string>
                <key>sourceSize</key>
                <string>{568,91}</string>
            </dict>
            <key>blg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,95},{562,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{562,85}}</string>
                <key>sourceSize</key>
                <string>{562,85}</string>
            </dict>
            <key>blg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,503},{559,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{559,63}}</string>
                <key>sourceSize</key>
                <string>{559,63}</string>
            </dict>
            <key>blg5.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,95},{566,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{566,58}}</string>
                <key>sourceSize</key>
                <string>{566,58}</string>
            </dict>
            <key>blg6.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,263},{562,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{562,53}}</string>
                <key>sourceSize</key>
                <string>{562,53}</string>
            </dict>
            <key>blg7.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,447},{561,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{561,54}}</string>
                <key>sourceSize</key>
                <string>{561,54}</string>
            </dict>
            <key>blg8.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,318},{561,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{561,64}}</string>
                <key>sourceSize</key>
                <string>{561,64}</string>
            </dict>
            <key>blg9.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,384},{561,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{561,61}}</string>
                <key>sourceSize</key>
                <string>{561,61}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>blg01.png</string>
            <key>size</key>
            <string>{717,717}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d46f52e2b5a89c3e2a12f625c7fdcc0$</string>
            <key>textureFileName</key>
            <string>blg01.png</string>
        </dict>
    </dict>
</plist>
