<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sl51.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,69},{61,58}}</string>
                <key>offset</key>
                <string>{-14,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,53},{61,58}}</string>
                <key>sourceSize</key>
                <string>{89,114}</string>
            </dict>
            <key>sl52.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{57,56}}</string>
                <key>offset</key>
                <string>{-16,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,55},{57,56}}</string>
                <key>sourceSize</key>
                <string>{89,114}</string>
            </dict>
            <key>sl53.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,2},{65,66}}</string>
                <key>offset</key>
                <string>{-12,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,47},{65,66}}</string>
                <key>sourceSize</key>
                <string>{89,114}</string>
            </dict>
            <key>sl54.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{87,114}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{87,114}}</string>
                <key>sourceSize</key>
                <string>{89,114}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sl5.png</string>
            <key>size</key>
            <string>{176,176}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9fd7c6e2b042a507336f3875192f1802$</string>
            <key>textureFileName</key>
            <string>sl5.png</string>
        </dict>
    </dict>
</plist>
