<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SZ4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{542,478}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{542,478}}</string>
                <key>sourceSize</key>
                <string>{542,478}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sz4.png</string>
            <key>size</key>
            <string>{546,482}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a25ac25992c2602ca51f8ebad9e8395$</string>
            <key>textureFileName</key>
            <string>sz4.png</string>
        </dict>
    </dict>
</plist>
