<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>by1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{122,81}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{122,81}}</string>
                <key>sourceSize</key>
                <string>{124,83}</string>
            </dict>
            <key>by2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,85},{107,69}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{107,69}}</string>
                <key>sourceSize</key>
                <string>{111,69}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>by.png</string>
            <key>size</key>
            <string>{126,156}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa1b29e562cc0e75897445bb9ff69ea8$</string>
            <key>textureFileName</key>
            <string>by.png</string>
        </dict>
    </dict>
</plist>
