<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m5_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,170},{48,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,19}}</string>
                <key>sourceSize</key>
                <string>{48,19}</string>
            </dict>
            <key>m5_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,220},{74,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,47}}</string>
                <key>sourceSize</key>
                <string>{74,47}</string>
            </dict>
            <key>m5_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,316},{60,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,45}}</string>
                <key>sourceSize</key>
                <string>{60,45}</string>
            </dict>
            <key>m5_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,251},{72,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,63}}</string>
                <key>sourceSize</key>
                <string>{72,63}</string>
            </dict>
            <key>m5_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{45,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,68}}</string>
                <key>sourceSize</key>
                <string>{45,68}</string>
            </dict>
            <key>m5_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{61,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,116}}</string>
                <key>sourceSize</key>
                <string>{61,116}</string>
            </dict>
            <key>m5_68.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,170},{79,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,91}}</string>
                <key>sourceSize</key>
                <string>{79,91}</string>
            </dict>
            <key>m5_69.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,235},{25,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,35}}</string>
                <key>sourceSize</key>
                <string>{25,35}</string>
            </dict>
            <key>m5_70.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,110},{109,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,58}}</string>
                <key>sourceSize</key>
                <string>{109,58}</string>
            </dict>
            <key>m5_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,71}}</string>
                <key>sourceSize</key>
                <string>{116,71}</string>
            </dict>
            <key>m5_72.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,235},{77,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,41}}</string>
                <key>sourceSize</key>
                <string>{77,41}</string>
            </dict>
            <key>m5_73.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,75},{61,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,109}}</string>
                <key>sourceSize</key>
                <string>{61,109}</string>
            </dict>
            <key>m5_74.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,110},{78,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,25}}</string>
                <key>sourceSize</key>
                <string>{78,25}</string>
            </dict>
            <key>m5_75.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,296},{61,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,72}}</string>
                <key>sourceSize</key>
                <string>{61,72}</string>
            </dict>
            <key>m5_76.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{105,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,95}}</string>
                <key>sourceSize</key>
                <string>{105,95}</string>
            </dict>
            <key>m5_77.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,65},{116,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,43}}</string>
                <key>sourceSize</key>
                <string>{116,43}</string>
            </dict>
            <key>m5_78.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,278},{32,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,37}}</string>
                <key>sourceSize</key>
                <string>{32,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yezi.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1fa43f620486c29c2b4ea13ab1b2d425$</string>
            <key>textureFileName</key>
            <string>yezi.png</string>
        </dict>
    </dict>
</plist>
